{% include header.html %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <aside class="sharing col-lg-8">
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_vkontakte_large' displayText='Vkontakte'></span>
                </aside>
                {{ content }}
            </div>
        </div>
    </div>
</article>

<hr>

{% include footer.html %}
